infrastructure/modules/sfn/step_functions.json
{
  "Comment": "Step Functions",
  "StartAt": "NotifySlackForStart",
  "States": {
    "NotifySlackForStart": {
      "Type": "Task",
      "Resource": "${lambda_arn}",
      "InputPath": "$",
      "OutputPath": "$",
      "Parameters": {
        "text": "Batch started."
      },
      "Next": "RunFargateTask"
    },
    "RunFargateTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${cluster_arn}",
        "TaskDefinition": "${task_def_arn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "${subnet}"
            ],
            "SecurityGroups": [
              "${security_group}"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Next": "CheckResult"
    },
    "CheckResult": {
      "Type": "Task",
      "Resource": "${lambda_arn2}",
      "InputPath": "$",
      "ResultPath": "$.CheckResult",
      "OutputPath": "$",
      "Next": "IsSuccessed"
    },
    "IsSuccessed": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.CheckResult.Result",
          "StringEquals": "Successed",
          "Next": "BatchSuccessed"
        },
        {
          "Variable": "$.CheckResult.Result",
          "StringEquals": "Failed",
          "Next": "BatchFailed"
        }
      ],
      "Default": "BatchFailed"
    },
    "BatchSuccessed": {
      "Type": "Task",
      "Resource": "${lambda_arn}",
      "InputPath": "$",
      "OutputPath": "$",
      "Parameters": {
        "text": "Batch successed."
      },
      "Next": "NotifySlackForEnd"
    },
    "BatchFailed": {
      "Type": "Task",
      "Resource": "${lambda_arn}",
      "InputPath": "$",
      "OutputPath": "$",
      "Parameters": {
        "text": "Batch failed."
      },
      "End": true
    },
    "NotifySlackForEnd": {
      "Type": "Task",
      "Resource": "${lambda_arn}",
      "InputPath": "$",
      "OutputPath": "$",
      "Parameters": {
        "text": "Batch finished."
      },
      "End": true
    }
  }
}